<ion-header>
  <ion-toolbar>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
  <p>
    Esse aplicativo foi desenvolvido <br>
    como parte das exigencias do curso de <br>
    Ciência da Computação <br> <br>
    Unicnor - Vale do rio verde
  </p>
  <img src="/assets/images/starwars.jpg" alt="star-wars">

  <p>
    Guilherme Silva - formando em ciência da computação 
    <br>
    <br>
    <a href="https://github.com/GuilhermeSTrydeR">Github</a> <br> <br>
    <a href="https://www.facebook.com/guilhermepereiramello/">Facebook</a>
  </p>
</ion-card>

</ion-content>