button{

    background: rgba(0, 0, 0, 0);


}



button #buttons{

    margin: 25px;
    display: flex;
    
}

button ion-button {

   margin: 10px;
   
   

}

ion-list{

    color: white;
    background-color: rgba(0, 0, 0, 0);

}
