<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Listagem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <button>

    <ion-list>
      <p>Quantas cartas voce quer sacar?</p>  
      <ion-item>
        <ion-range id="range_cartas" min="1" max="52" pin="true" color="secondary">
          <ion-label slot="start">1</ion-label>
          <ion-label slot="end">52</ion-label>
        </ion-range>
      </ion-item>
    </ion-list>

    <ion-div id="buttons">
      <ion-button (click)='sacar()'>Sacar</ion-button>
      <ion-button (click)='novo_deck()'>Deck &nbsp;</ion-button>
    </ion-div>

  </button>
  <ion-card *ngFor="let c of cards">
      <ion-card-header>
        
        
      </ion-card-header>
      <ion-card-content>
        <p>Carta: {{ c.value }} {{ c.suit }} </p> 
        <p>Código reduzido: {{ c.code }} </p> 
        <img src="{{ c.image }}" alt="">

       
      </ion-card-content>
      
  </ion-card>

</ion-content>
